header {
  height: 60px;
  border-bottom: 4px solid black;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  .menu {
    position: fixed;
    background-color: white;
    z-index: 50;
    inset: 0;
    top: 60px;

    .list {
      padding: 1rem;
      list-style: none;

      .list-item {

        button {
          width: 100%;
        }
      }
    }
  }
}
